<div class="container">
    <div class="row">
        <div class="col-md-10">
            
                <div class="card">
                    <div class="card-body">
                        
                        <EditForm Model="@vehiclebrands" OnValidSubmit="@OnValidSubmit">
                            <ValidationSummary />
                            <DataAnnotationsValidator />
                            <fieldset disabled="@IsDisabled">
                                <div class="form-group">
                                    <label>Brand Name :</label>
                                    <div>
                                        <InputText @bind-Value="vehiclebrands.BrandName" class="form-control"></InputText>
                                        <ValidationMessage For="@(()=>vehiclebrands.BrandName)" />
                                    </div>
                                </div>
                                @if (!IsDisabled)
                                {
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block" type="submit">
                                            @ButtonText
                                        </button>
                                    </div>
                                }
                            </fieldset>
                            <div>
                                <BackToList Target="brands" />
                            </div>
                        </EditForm>
                    </div>
                </div>
            
        </div>
    </div>
</div>



@code {
    [Parameter] public bool IsDisabled { get; set; } = false;
    [Parameter] public Brand vehiclebrands { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
