@page "/brands/"

@attribute [Authorize]



<PageHeaderTitle PageHeaderTitleText="Brand"></PageHeaderTitle>
<a href="/brands/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create Brand
</a>
<br />
<hr />

@if (BrandModel == null)
{
    <div class="alert alert-info">Loading....</div>
}
else
{
    <table class="table table-responsive-md" id="brandTable">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>Status</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in BrandModel)
            {
                <tr>
                    <td>@brand.BrandName</td>
                    <td>@brand.Status</td>
                    <td>
                        <a href="/brands/view/@brand.Id" class="btn btn-primary">
                            <span class="oi oi-book">

                            </span>
                        </a>
                        <a  href="/brands/edit/@brand.Id" class="btn btn-warning">
                            <span class="oi oi-pencil">

                            </span>
                        </a>
                        <button class="btn btn-danger" @onclick="@((()=> DeleteBrand(brand.Id)))">
                            <span class="oi oi-delete">

                            </span>
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    
}
