
<div class="container px-3 py-3">
        <h3 class="pb-2 border-bottom">@PageHeaderTitleText</h3>
</div>


@code {
    [Parameter]
    public string PageHeaderTitleText { get; set; } = string.Empty;
}
