<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <EditForm Model="@vehicleModel" OnValidSubmit="@OnValidSubmit">
                        <ValidationSummary />
                        <DataAnnotationsValidator />
                        <fieldset disabled="@Disabled">
                            <div class="form-group">
                                <label>Model Name :</label>
                                <div>
                                    <InputText @bind-Value="vehicleModel.ModelName" class="form-control"></InputText>
                                    <ValidationMessage For="@(()=>vehicleModel.ModelName)" />
                                </div>
                            </div>
                        </fieldset>
                        @if (!Disabled)
                        {

                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">
                                    @ButtonText
                                </button>
                            </div>
                        }
                        <div>
                            <BackToList Target="models" />
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public VehicleModel vehicleModel { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
